!!!
%html{html_attrs(lang='en-US')}
  %head
    %meta(charset="utf-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %title J.C. Gollnick, VIP
    %link(rel='stylesheet' type='text/css' href="/style.css")/
  %body
    #header
      #banner
        %h1#name
          %span Jonathan C. Gollnick
      #links
        %a(target="_blank" rel="me" href="https://gitlab.com/cptchuckles") GitLab
        %a(target="_blank" rel="me" href="mailto:jonathan.gollnick@gmail.com")Mail
        %a(target="_blank" rel="me" href="https://www.linkedin.com/in/jonathan-gollnick")LinkedIn
    #main
      %p
        Welcome to my portfolio. Here you will see a straight forward list of
        projects that I've felt should be put forward for your attention,
        attached to short descriptions of how they were put together and what
        I learned through it.  I am interested in pursuing a career in software
        development.  You can find my contact information and repository at the
        top of the webpage.
      %ul.projects
        %li
          %img.thumb(src="/hangman/th.png")/
          %p.block
            %a(target="_blank" href="/hangman" class="strong") Hangman
            %br
            This project was created as a foray into AJAX, and to nest one
            Sinatra app into another (this website). The keyword will be
            selected from a server-side wordbank upon loading the page. All
            of the guess-checking logic is done server-side upon an AJAX
            request from the front-end, and the data regarding matches is
            sent back.  The front-end has no access to the keyword, so no
            cheating. Also, losing is fun.
          %p.links
            %a(target="_blank" rel="me" href="http://gitlab.com/cptchuckles/hangman")view the source
    %footer
      %a(target="_blank" rel="me" href="https://gitlab.com/cptchuckles/website")view the source
